<span>This is Facility Home Page</span>
@ViewBag.CurrentUser.UserId
@ViewBag.CurrentUser.Id
@ViewBag.CurrentUser.UserType
@ViewBag.CurrentUser.FirstName
@ViewBag.CurrentUser.LastName
@ViewBag.CurrentUser.UserRole